@import "tailwindcss";

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/made_tommy/MADE%20TOMMY%20Thin_PERSONAL%20USE.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/made_tommy/MADE%20TOMMY%20Light_PERSONAL%20USE.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/made_tommy/MADE%20TOMMY%20Regular_PERSONAL%20USE.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/made_tommy/MADE%20TOMMY%20Medium_PERSONAL%20USE.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/made_tommy/MADE%20TOMMY%20Bold_PERSONAL%20USE.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/made_tommy/MADE%20TOMMY%20ExtraBold_PERSONAL%20USE.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #0f1e1c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-made-tommy), 'MADE TOMMY', var(--font-geist-sans), Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-made-tommy), 'MADE TOMMY', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
